{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Codrug Admin Management</title>

    <!-- fontface -->
    <link href='http://fonts.googleapis.com/css?family=Nova+Flat' rel='stylesheet' type='text/css'>

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.min.js' %}"></script>

    <!--timeline css -->

    <!--article_detail css-->

    <!-- common file -->
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>


    <!-- summernote -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/summernote.css' %}" />
    <script type="text/javascript" src="{% static 'js/summernote.min.js' %}"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript">
        $(document).ready( function() {
            $('#myTab a').click(function (e) {
              e.preventDefault()
              $(this).tab('show')
            })
        })
    </script>


    <div class="row">
        <div class="col-md-4">
            <h2>Codrug Management Page</h2>
        </div>

        <div class="col-md-8">
            <ul class="nav nav-pills" id="myTab" style="margin-top:20px; margin-bottom:10px;">
              <li class="active"><a href="#home">홈</a></li>
              <li><a href="#profile">프로필</a></li>
              <li><a href="#messages">메시지</a></li>
              <li><a href="#settings">설정</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>

        <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="home">.1..</div>
              <div class="tab-pane" id="profile">..2.</div>
              <div class="tab-pane" id="messages">..3.</div>
              <div class="tab-pane" id="settings">.4..</div>
            </div>
        </div>
    </div>






</body>
</html>