{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Codrug</title>

	<!-- fontface -->
	<link href='http://fonts.googleapis.com/css?family=Nova+Flat' rel='stylesheet' type='text/css'>

	<!-- bootstrap -->

	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
	<script src="{% static 'jquery-1.11.1.js' %}"></script>
	<script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery.form.min.js' %}"></script>

    <!--timeline css -->
    <link rel="stylesheet" type="text/css" href="{% static 'timeline.css' %}" />
    <!--article_detail css-->
    <link href="{% static 'article_detail.css' %}" rel="stylesheet" type="text/css">
	<!-- common file -->
	<script type="text/javascript" src="{% static 'common.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />

    <!-- summernote -->
    <link rel="stylesheet" type="text/css" href="{% static 'summernote.css' %}" />
    <script type="text/javascript" src="{% static 'summernote.min.js' %}"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />

    <!-- additional script -->
    {% block addScript %}
    {% endblock %}

</head>


<body>
	<!-- header part -->
	<div class="row sHead">
		<div class="col-md-2"></div>
		<div class="col-md-8 sMessage">
			Codrug
		</div>
		<div class="col-md-2">

		</div>
	</div>

	<!-- menu bar -->
	<div class="row sMenu">
		<div class="col-md-2"></div>
		<!-- 메뉴 영역  시작 -->
		<div class="col-md-8 text-center">

			<div class="btn-toolbar" style="display:inline-block; margin-top:3px;">
				<div class="btn-group">
                    <!--버튼에 a 태그 추가 jinja로 각 함수실행 !-->
                    <a href="{% url 'timeline' %}"><button type="button" class="btn btn-default btnSize"> Timeline </button></a>
                    <a href="{% url 'member_list' %}"><button type="button" class="btn btn-default btnSize"> Members </button></a>
					<a href="{% url 'board_qna_list' %}"><button type="button" class="btn btn-default btnSize"> Q & A </button></a>
					<a href="{% url 'board_archive_list' %}"><button type="button" class="btn btn-default btnSize"> Archive </button></a>
					<a href=""><button type="button" class="btn btn-default btnSize"> Assignment </button></a>
					<a href="{% url 'board_free_list' %}"><button type="button" class="btn btn-default btnSize"> Freeboard </button></a>
					<a href="{% url 'board_album_list' %}"><button type="button" class="btn btn-default btnSize"> Album </button></a>
				</div>

				<div class="btn-group">
					<button type="button" class="btn btn-default btnSize2" data-toggle="modal" data-target="#loginModal">
						<span class="glyphicon glyphicon-lock"></span>
					</button>
				</div>
			</div>

		</div>
		<div class="col-md-2"></div>
	</div>

	<!-- content -->
	<div class="row">
		<div class="col-md-2"></div>

		<!-- content 영역 -->
		<div class="col-md-8">

        <!-- for use 'jinja_extend'  -->
        {% block content %}
        {% endblock %}


        </div>
		<!-- end of content // -->


		<div class="col-md-2"></div>
	</div>

	<!-- footer -->
	<div class="row">
		<div class="col-md-12 sFoot text-center">
			Foot 영역
		</div>
	</div>

	<!-- Login modal -->
	<!-- Modal -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h4 class="modal-title">Account Login</h4>
	      </div>
	      <div class="modal-body">
	      	<form role="form">
		       	<div class="form-group">
					<label for="userId">User ID</label>
					<input type="text" class="form-control" id="userId" placeHolder="Type ID" />
		       	</div>

		       	<div class="form-group">
		       		<label for="userPw">User Password</label>
		       		<input type="password" class="form-control" id="userPw" placeHolder="Type Password" />
		       	</div>
		    </form>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-info">회원가입</button>
	        <button type="button" class="btn btn-primary" onclick="javascript:void(procLogin());">로그인</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


</body>


</html>