
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
/*
--------------------------------------
- Site Layout
--------------------------------------
/* fonts import */
/*font-family: 'Jeju Gothic', serif;*/
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
/* font */
.nanum{
    font-family: 'Nanum Gothic';
}
.novaflat{
    font-family: "Nova Flat";
}
#bleachA{
    color:white;
    text-decoration: none;
}
/* HEADER 영역 */
.sHead {
    margin-top: -70px;
    background-color: #1E74BA;
    height: 150px;
    color: white;
    font-family: 'Nova Flat';
}

.sHead .sMessage {
    font-size: 60px;
    margin:0 auto;
    padding-top: 30px;
    text-align: center;
}

/* 메뉴 버튼 */
.sMenu {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btnSize {
    width: 100px;
    height: 45px;

}

.btnSize2 {
    height: 45px;
}

/* 푸터 영역 */
.sFoot {
    margin-top: 10px;
    height: 75px;
    background-color: #1E74BA;
    color: white;
    font-family: 'Nova Flat';
}


.memberJoinFormDiv {
    width: 400px;
    display: inline-block;
    margin:0 auto;
}

/* 공통 색깔 */

#idColor1{
    background-color:#2d6f61
}


div.row img {
    max-width: 100%;
}