

/*
--------------------------------------
- Site Layout
--------------------------------------
*/
/*COMMENT 영영*/
#blue{
    background-color: blue;
    color: white;
}
/* HEADER 영역 */
	.sHead {
        margin-top: -70px;
		background-color: #1E74BA;
		height: 150px;
		color: white;
		font-family: 'Nova Flat';
	}

	.sHead .sMessage {
		font-size: 60px;
		margin:0 auto;
		padding-top: 30px;
		text-align: center;
	}

/* 메뉴 버튼 */
	.sMenu {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.btnSize {
		width: 100px;
		height: 45px;

	}

	.btnSize2 {
		height: 45px;
	}

/* 푸터 영역 */
	.sFoot {
		margin-top: 10px;
		background-color: #C9C9C9;
		height: 75px;
	}


    .memberJoinFormDiv {
        width: 400px;
        display: inline-block;
        margin:0 auto;
    }

    /* 공통 색깔 */

    #idColor1{
        background-color:#2d6f61
    }