{% extends "include/layout.html" %}
{% block content %}

    <h2 class="text-center title">과제</h2>
    <p class="lead text-center">
        여러분이 하셔야 할 과제들입니다.<br>
        <!-- their photos at <a href="http://unsplash.com">Unsplash</a>, thank you guys! -->
    </p>
    <div class="row">
        {%  for each in aList %}


            <div class="col-sm-4">
                <div class="thumbnail">
                    {%  for x in imgList %}
                        <img src="/upload/{{x.outFILE }}">
                    {% endfor %}
                    <div class="caption">
                        <h3>{{ each.title }}</h3>
                        <p></p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">제출하기</a></li>
                                <li><a href="#">상세설명</a></li>
                                <li class="divider"></li>
                                {% for y in fileList %}
                                    <li><a href="/upload/{{y.outFILE }}">첨부파일</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}