{% extends "include/layout.html" %}
{% block content %}

    <h2 class="text-center title nanum">과제</h2>
    <p class="lead text-center nanum">
        여러분이 하셔야 할 과제들입니다.<br>
        <!-- their photos at <a href="http://unsplash.com">Unsplash</a>, thank you guys! -->
    </p>
    <div class="row nanum">
        {%  for each in aList %}


            <div class="col-sm-4">
                <div class="thumbnail">

                    <div class="caption">
                        <h3>{{ each.title }}</h3>
                        <p class="text-info">{{ each.content }} </p>
                        <p class="text-danger">{{ each.deadline|date:'Y-m-d' }}까지</p>
                        {% for peopleEach in each.memberList %}
                        <span class="label label-success">{{peopleEach.name}}</span>
                        {% endfor %}
                        <br/>
                        <br/>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#submitModal" onclick="void( injectionAssId({{ each.id }}));">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% for fileEach in each.fileList %}
                                    <li><a href="/upload/{{fileEach}}">첨부파일</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>




    <!-- Submit modal -->
    <!-- Modal -->
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Submit Assignment</h4>
                </div>
                <form role="form" action="{% url 'assignment_list' %}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="assignment_id" value="" />
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="userId">과제내용 및 인증파일 (파일 없으면 업로드 안됨)</label>
                            <textarea class="form-control" name="assignment_content" rows="5"></textarea>
                            <input class='text-right' type="file" name="assignment_file"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">제출하기</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--modal end-->




    <script type="text/javascript">
        var injectionAssId = function( aId ) {
            $('input[name=assignment_id]').val( aId );
        }

    </script>
{% endblock %}