{% extends "include/layout.html" %}

{% block addScript %}
    <script type="text/javascript" src="/static/js/board.js"></script>
{% endblock %}

{% block content %}

    <div id="boardContent" class="nanum">
        <table class="table table-hover">
            <colgroup>
                <col width="10%" />
                <col width="60%" />
                <col width="20%" />
                <col width="20%" />
            </colgroup>

            <thead>
            <th class="text-center">번호</th>
            <th class="text-center">제목</th>
            <th class="text-center">이름</th>
            <th class="text-center">조회수</th>
            </thead>

            <tbody>

            <!-- 실제 게시물 등장 -->
            {%  for each in article %}
                {% if each.isConfirmed == True %}
                    <!-- 확인된 질문 게시물 -->
                    <tr class="success">
                        <td class="text-center">{{ each.id }}</td>
                        <td>
                            <a href="/board/qna/detail/{{ each.id }}">{{ each.title }}</a>
                        </td>
                        <td class="text-center">{{ each.memberID.name }}</td>
                        <td class="text-center">{{ each.viewCount }}</td>
                    </tr>

                {% else %}
                    <!-- 확인안된 질문 게시물 -->
                    <tr >
                        <td class="text-center">{{ each.id }}</td>
                        <td>
                            <a href="/board/qna/detail/{{ each.id }}">{{ each.title }}</a>
                        </td>
                        <td class="text-center">{{ each.memberID.name }}</td>
                        <td class="text-center">{{ each.viewCount }}</td>
                    </tr>

                {% endif %}
            {% endfor %}


            </tbody>
        </table>

        <!-- pagnation -->
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 text-center">
                <ul class="pagination">

                    <!-- prev arrow -->
                    {% if page != 1 %}
                        <li><a href="/board/qna/{{ page|add:-1 }}">«</a></li>
                    {% else %}
                        <li><a href="#">«</a></li>
                    {% endif %}

                    {% for pageNum in pageList %}
                        {% if pageNum == page %}
                            <li class="active"><a href="/board/qna/{{ pageNum }}">{{ pageNum }}</a></li>
                        {% else %}
                            <li><a href="/board/qna/{{ pageNum }}">{{ pageNum }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!-- next arrow -->
                    {% if page != totalPage %}
                        <li><a href="/board/qna/{{ page|add:1 }}">»</a></li>
                    {% else %}
                        <li><a href="#">»</a></li>
                    {% endif %}

                </ul>
            </div>
            <div class="col-md-3 text-right">
                <button type="button" class="btn btn-default" onclick="void(moveWriteForm('{{ boardName }}'));">글쓰기</button>
            </div>

        </div>
    </div>
    <!-- end of boardContent division // -->

{% endblock %}