{% extends "include/layout.html" %}

{% block addScript %}
    <script type="text/javascript" src="/static/board.js"></script>
{% endblock %}

{% block content %}

    <div id="boardContent">

        <!-- 실제 게시물 등장 -->


        <div class="row">
            {% for x in article %}
                {% for z in imgList %}
                    <div class="col-sm-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="/upload/{{z.outFILE }}" alt="...">
                        </a>
                    </div>
                {% endfor %}
            {% endfor %}

        </div>


        <!-- pagnation -->
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 text-center">
                <ul class="pagination">

                    <!-- prev arrow -->
                    {% if page != 1 %}
                        <li><a href="/board/album/{{ page|add:-1 }}">«</a></li>
                    {% else %}
                        <li><a href="#">«</a></li>
                    {% endif %}

                    {% for pageNum in pageList %}
                        {% if pageNum == page %}
                            <li class="active"><a href="/board/album/{{ pageNum }}">{{ pageNum }}</a></li>
                        {% else %}
                            <li><a href="/board/album/{{ pageNum }}">{{ pageNum }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!-- next arrow -->
                    {% if page != totalPage %}
                        <li><a href="/board/album/{{ page|add:1 }}">»</a></li>
                    {% else %}
                        <li><a href="#">»</a></li>
                    {% endif %}

                </ul>
            </div>
            <div class="col-md-3 text-right">
                <button type="button" class="btn btn-default" onclick="void(moveWriteForm('{{ boardName }}'));">글쓰기</button>
            </div>
        </div>
    </div>
    <!-- end of boardContent division // -->

{% endblock %}