{% extends "include/layout.html" %}

{% block addScript %}
    <script type="text/javascript" src="/static/js/board.js"></script>
{% endblock %}


{% block content %}

    <div id="boardContent" class="nanum">
        <table class="table table-hover">
            <colgroup>
                <col width="10%" />
                <col width="60%" />
                <col width="20%" />
                <col width="20%" />
            </colgroup>

            <thead>
            <th class="text-center">번호</th>
            <th class="text-center">제목</th>
            <th class="text-center">이름</th>
            <th class="text-center">조회수</th>
            </thead>

            <tbody>

            <!-- 실제 게시물 등장 -->
            {%  for each in article %}

                <tr>
                    <td class="text-center">{{ each.id }}</td>
                    <td>
                        <a href="/board/archive/detail/{{ each.id }}">
                            {{ each.title }} {% if each.commentCount > 0 %}<span class="badge">{{ each.commentCount }}</span>{% endif %}
                        </a>
                    </td>
                    <td class="text-center">{{ each.memberID.name }}</td>
                    <td class="text-center">{{ each.viewCount }}</td>
                </tr>

            {% endfor %}
            {#d#}

            </tbody>
        </table>

        <!-- pagnation -->
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 text-center">
                <ul class="pagination">

                    <!-- prev arrow -->
                    {% if page != 1 %}
                        <li><a href="/board/archive/{{ page|add:-1 }}">«</a></li>
                    {% else %}
                        <li><a href="#">«</a></li>
                    {% endif %}

                    {% for pageNum in pageList %}
                        {% if pageNum == page %}
                            <li class="active"><a href="/board/archive/{{ pageNum }}">{{ pageNum }}</a></li>
                        {% else %}
                            <li><a href="/board/archive/{{ pageNum }}">{{ pageNum }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!-- next arrow -->
                    {% if page != totalPage %}
                        <li><a href="/board/archive/{{ page|add:1 }}">»</a></li>
                    {% else %}
                        <li><a href="#">»</a></li>
                    {% endif %}

                </ul>
            </div>
            <div class="col-md-3 text-right">
                <button type="button" class="btn btn-default" onclick="void(moveWriteForm('{{ boardName }}'));">글쓰기</button>
            </div>

        </div>
    </div>
    <!-- end of boardContent division // -->

{% endblock %}