{% extends "include/layout.html" %}
{% block content %}
    <!-- member join form -->
    <div class="container nanum">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3" style="font-family: 'Nova Flat'">
                <div class="thumbnail">
                    <img src="../static/img/codrug_profile2.jpg" alt="...">
{#                    <div class="caption">#}
{#                        <h2>Member Join</h2>#}
{##}
{#                    </div>#}
                </div>
            </div>
            <form class="col-md-8" role="form" onsubmit="return false;">

                <div style="width:100%; margin:0 auto;">
                    <div class="memberJoinFormDiv">
                        <div class="form-group">
                            <label for="userEmail">이메일 주소(아이디로 사용됩니다)</label>
                            <input type="email" class="form-control" id="userEmail" placeHolder="E-mail address" />
                        </div>

                        <div class="form-group">
                            <label for="userPassword">비밀번호</label>
                            <input type="password" class="form-control" id="userPassword" placeHolder="User password" />
                        </div>

                        <div class="form-group">
                            <label for="userName">이름</label>
                            <input type="text" class="form-control" id="userName" placeHolder="User Name" />
                        </div>

                        <button class="btn btn-primary" onclick="void( procMemberJoin() )">회원 가입</button>
                        <button class="btn btn-default">취소</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}