{% extends "include/layout.html" %}
{% block content %}


    <div class="row nanum">

    <div class="col-sm-6 col-md-3" style="font-family: 'Nova Flat'">
        <div class="thumbnail">
            <img src="../static/img/codrug_profile2.jpg" alt="...">
            <div class="caption">
                <h2>Members</h2>
                <hr/>
                <hr/>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/choiSangDo.png" alt="...">
            <div class="caption">
                <h3>최상도</h3>
                <p>건축학과 <span class="badge">제작자</span> </p>
                <a href="https://www.facebook.com/profile.php?id=100001316996351&fref=ts" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/leeSeokJoon.png" alt="...">
            <div class="caption">
                <h3>이석준</h3>
                <p>SW설계학과 <span class="badge">제작자</span></p>
                <a href="https://www.facebook.com/mrsukjunlove?fref=ts" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/kimJaeHyeon.png" alt="...">
            <div class="caption">
                <h3>김재현</h3>
                <p>경영학과 <span class="badge">제작자</span></p>
                <a href="https://www.facebook.com/nobjhob?fref=ts" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/kimJeongHyeon.jpg" alt="...">
            <div class="caption">
                <h3>김정현</h3>
                <p>영문학과 <span class="badge">대장님</span></p>
                <a href="https://www.facebook.com/codrug" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/kimDongWook.png" alt="...">
            <div class="caption">
                <h3>김동욱</h3>
                <p>경영학과</p>
                <a href="https://www.facebook.com/kdongwook?fref=pb_other" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/parkJaeEun.jpg" alt="...">
            <div class="caption">
                <h3>박재은</h3>
                <p>컨벤션경영학과</p>
                <a href="https://www.facebook.com/francesca.jep?fref=pb_other" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/kimJaeYoon.png" alt="...">
            <div class="caption">
                <h3>김재윤</h3>
                <p>물리학과</p>
                <a href="https://www.facebook.com/jaeyoon.kim.315428?fref=pb_other" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/kimKooKyeong.png" alt="...">
            <div class="caption">
                <h3>김구경</h3>
                <p>국문학과</p>
                <a href="https://www.facebook.com/profile.php?id=100005174851425&fref=pb_other" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/baekSeungWoo.png" alt="...">
            <div class="caption">
                <h3>백승우</h3>
                <p>영문학과</p>
                <a href="https://www.facebook.com/profile.php?id=100001284702254&fref=pb_other" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/sinKyeonHyeon.png" alt="...">
            <div class="caption">
                <h3>신경현</h3>
                <p>수학과</p>
                <a href="https://www.facebook.com/kyeonghyeon.sine.1?fref=ts" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/jeongYeWon.png" alt="...">
            <div class="caption">
                <h3>정예원</h3>
                <p>지리학과</p>
                <a href="https://www.facebook.com/profile.php?id=100007231842061&fref=pb_other" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/hongSaSeong.jpg" alt="...">
            <div class="caption">
                <h3>홍사성</h3>
                <p>경제학과</p>
                <a href="https://www.facebook.com/hong.sasung?fref=pb_other" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/leeDongHyeok.jpg" alt="...">
            <div class="caption">
                <h3>이동혁</h3>
                <p>수학과</p>
                <a href="https://www.facebook.com/xyrho123?fref=pb_other" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/mohamed.png" alt="...">
            <div class="caption">
                <h3>배종모</h3>
                <p>컴퓨터공학과</p>
                <a href="https://www.facebook.com/mohamed.medhat.1422?fref=pb_other" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/kimJiHo.jpg" alt="...">
            <div class="caption">
                <h3>김지호</h3>
                <p>한의예과 <span class="badge">Thanks</span></p>
                <a href="https://www.facebook.com/profile.php?id=100007231842061&fref=ts" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/seoHyeonDeok.jpg" alt="...">
            <div class="caption">
                <h3>서현덕</h3>
                <p>물리학과 <span class="badge">Thanks</span></p>
                <a href="https://www.facebook.com/hyeondeok.seo.37?fref=pb_other" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="../static/img/parkHoonJeong.jpg" alt="...">
            <div class="caption">
                <h3>박훈정</h3>
                <p>정치외교학과</p>
                <a href="https://www.facebook.com/bhg76?fref=ts" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>


    </div>

{% endblock %}