{% extends "include/layout.html" %}
{% block content %}

    <p> Members </p>
    <hr />

<div class="row">
    {% for m in mlist %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="...">
                <div class="caption">
                    <h3>{{ m.name }}</h3>
                    <p>{{ m.email }}</p>
                    <p><a href="#" class="btn btn-primary">Button</a> <a href="#" class="btn btn-default">Button</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}